@keyframes _Animation_Rotate_Loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes _Animation_Show_Model {
    from { opacity: 0; }
    to { opacity: 1; }
}

::placeholder, :-ms-input-placeholder {
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
    opacity: 0.5;
}

/* ============================================ */

/* ============================================ */

.Base_Settings_Window {
    position: fixed;;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 6000;

    animation: _Animation_Show_Model 1s;
}

.Base_Settings_Inner_Window {
    background-color: #dbd7d6;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
    border-radius: 2vw;

    position: relative;

    z-index: 6001;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.Base_Settings_Inner_Window input[type="submit"] {
    background-color: #43d29d;
    border-radius: 0.2vw;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 0px;

    width: 15vw;
    height: 2.5vw;

    font-size: 28px;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    text-decoration: none;

    cursor: pointer;

    transition: all 0.2s;

    margin-top: 0.5vw;
}

.Base_Settings_Inner_Window input[type="submit"]:hover { transform: scale(1.1); }
.Base_Settings_Inner_Window input[type="submit"]:active { transform: scale(1); }

.DontActive_Submit {
    pointer-events: None;
    opacity: 0.5;
}

.Name_Window {
    color: #ccf5d5;
    font-size: 4vw;
    text-shadow: 1px 1px 1px #000000;
}

.Stick_Window {
    background-image: url(../img/TextureStone.svg);
    width: 45vw;
    height: 1.3vw;

    border-radius: 2.5vw;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    position: relative;

    z-index: 6002;
}

.Base_Settings_Input {
    border-bottom-width: 0.25vw;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #43d29d;
    border-radius: 0.2vw;
    width: 21vw;
    height: 2.5vw;
    background-color: #dbd7d6;
    font-size: 1.6vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);

    transition: all 0.2s;

    outline: none;

    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.Base_Settings_Input:hover {
    border-left-width: 0.25vw;
    border-right-width: 0.25vw;
    border-top-width: 0.25vw;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

.Base_Settings_Input:focus {
    border-width: 0.25vw;
    border-style: solid;
    border-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

.Base_Settings_Input_Line {
    display: flex;
    flex-direction: row;
}

.Vertical_Stick_Window {
    width: 0.2vw;
    height: 4vw;
    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;
}

.Horizontal_Stick_Window {
    width: 8vw;
    height: 0.2vw;
    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;
}

.Common_Button_Window {
    background-color: #43d29d;
    border-radius: 0.2vw;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 15vw;
    height: 3vw;

    font-size: 2.2vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    text-decoration: none;

    cursor: pointer;

    transition: all 0.2s;

    margin-top: 0.5vw;
}

.Common_Button_Window:hover { transform: scale(1.1); }
.Common_Button_Window:active { transform: scale(1); }

/* ============================================ */

/* ============================================ */

.Line_Window, .Column_Window {
    display: flex;
    align-items: center;

    margin-top: 0.5vw;
    margin-bottom: 0.5vw;

    text-shadow: 1px 1px 1px #000000;
    font-size: 1.2vw;
}

.Line_Window {
    flex-direction: row;
}

.Column_Window {
    flex-direction: column;
}

.Line_Window p, .Column_Window p {
    color: #ccf5d5;

    margin-right: 0.5vw;
}

.Line_Window a, .Column_Window a {
    color: #43d29d;

    cursor: pointer;
}

.Line_Window a:hover, .Column_Window a:hover { text-decoration: underline; }
.Line_Window a:active, .Column_Window a:active { text-decoration: none; }

.Ul_Line {
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
    font-size: 1.2vw;

    width: 90%;
}

.Ul_Line_Double {
    margin-left: 1vw;
}

.Ul_Line li {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.Ul_Line .Stick_Li {
    list-style-type: none;

    display: flex;
    justify-content: center;
}

.Stick_Inner_Window {
    width: 25vw;
    height: 0.1vw;

    background-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
    border-radius: 100%;
}

.Li_None_Type {
    list-style-type: none;
}

.Scroll_Window {
    overflow-y: scroll;
    scrollbar-width: none;
}

/* ============================================ */

/* ============================================ */

#Loading {
    z-index: 9999;
}

.Loading_Image {
    width: 20vw;
}

.Loading_Image {
    animation: _Animation_Rotate_Loading 3s infinite;
}

#Loading h1 {
    color: #ccf5d5;
    font-size: 3vw;
    text-shadow: 1px 1px 1px #000000;
}

/* ============================================ */

/* ============================================ */

.Auth_Block {
    width: 40vw;
    height: 30vw;
}

/* ============================================ */

/* ============================================ */

.Reg_Block {
    width: 45vw;
    height: 30vw;
}

.Size_Input_SecondName {
    width: 23vw;
    height: 2.5vw;
}

/* ============================================ */

/* ============================================ */

.More_About_Company_Block {
    width: 45vw;
    height: 35vw;
}

/* ============================================ */

/* ============================================ */

#Feedback {
    position: fixed;
    left: 5vw;
    bottom: 5vw;

    width: 15vw;
    height: 23vw;

    background-color: #fffefe;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
    border-radius: 1.5vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 5000;

    animation: _Animation_Show_Model 1s;
}

.Header_Feedback {
    position: relative;

    width: 100%;
    height: 4vw;

    border-radius: 1.5vw 1.5vw 0 0;
    background-color: #dbd7d6;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Feedback h1 {
    color: #ccf5d5;
    font-size: 1.2vw;
    text-shadow: 1px 1px 1px #000000;

    text-align: center;
    width: 95%;
}

.Contacts_Request a {
    color: #ccf5d5;
    font-size: 1.2vw;
    text-shadow: 1px 1px 1px #000000;

    text-align: center;
    width: 95%;

    margin-top: 0.5vw;
    margin-bottom: 0.5vw;

    cursor: pointer;
}

.Contacts_Request a:hover { text-decoration: underline; }
.Contacts_Request a:active { text-decoration: none; }

#Feedback .Stick_Feedback {
    background-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
    border-radius: 100%;

    width: 10vw;
    height: 0.2vw;
}

.Header_Feedback .Close_Feedback {
    position: absolute;

    top: 0.5vw;
    right: 1vw;

    color: #ccf5d5;
    font-size: 1.2vw;
    text-shadow: 1px 1px 1px #000000;

    transition: all 0.2s;

    cursor: pointer;
}

.Header_Feedback .Close_Feedback:hover { transform: scale(1.1); }
.Header_Feedback .Close_Feedback:active { transform: scale(1); }

.Inner_Feedback {
    width: 100%;
    height: 19vw;
}

.Position_Feedback {
    position: absolute;
    width: 15vw;
}

#Feedback .Button_Feedback {
    width: 12vw;
    height: 2.5vw;

    background-color: #43d29d;
    border-radius: 0.4vw;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);

    color: #ccf5d5;
    font-size: 1.2vw;
    text-shadow: 1px 1px 1px #000000;

    margin-top: 1vw;
    margin-bottom: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    transition: all 0.2s;
}

#Feedback .Button_Feedback:hover { transform: scale(1.1); }
#Feedback .Button_Feedback:active { transform: scale(1); }

#Feedback input[type="Text"] {
    border-bottom-width: 0.2vw;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #43d29d;
    border-radius: 0.2vw;
    width: 13vw;
    height: 2vw;
    font-size: 0.9vw;
    color: #ccf5d5;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);

    transition: all 0.2s;

    outline: none;

    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
}

#Feedback input[type="Text"]:hover {
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
    border-top-width: 0.2vw;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

#Feedback input[type="Text"]:focus {
    border-width: 0.25vw;
    border-style: solid;
    border-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

#Feedback input[type="submit"] {
    background-color: #43d29d;
    border-radius: 0.2vw;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 0px;

    width: 10vw;
    height: 2vw;

    font-size: 1.4vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    text-decoration: none;

    cursor: pointer;

    transition: all 0.2s;

    margin-top: 0.5vw;
}

#Feedback input[type="submit"]:hover { transform: scale(1.1); }
#Feedback input[type="submit"]:active { transform: scale(1); }

/* ============================================ */

/* ============================================ */

#Avatar {
    position: fixed;

    right: 0.5vw;
    top: 2.8vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#Avatar .Stick_Avatar {
    width: 6vw;
    height: 0.2vw;

    background-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
    border-radius: 0.5vw;
}

#Avatar .Inner_Avatar {
    width: 6vw;
    height: 7.2vw;

    background-color: #dbd7d6;
    border-radius: 0.5vw;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Inner_Avatar a {
    font-size: 0.9vw;
    color: #ccf5d5;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;

    transition: all 0.2s;

    cursor: pointer;
}

.Inner_Avatar a:hover { transform: scale(1.1); }
.Inner_Avatar a:active { transform: scale(1); }

.Inner_Avatar div {
    width: 4vw;
    height: 0.1vw;

    background-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
    border-radius: 0.2vw;
}

/* ============================================ */

/* ============================================ */

.Arrows_Select_Color_Block {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 24.6vw;

    z-index: 3000;
}

.Arrows_Settings_Block {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 44vw;

    z-index: 3000;
}

/* ============================================ */

/* ============================================ */

.Select_Color_Block {
    width: 35vw;
    height: 30vw;
}

.Select_Color_Block img {
    width: 25vw;
    height: 25vw;

    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

/* ============================================ */

/* ============================================ */

.Product_Block {
    width: 45vw;
    height: 30vw;

    justify-content: flex-start;

    overflow-y: scroll;
    scrollbar-width: none;
}

.Product_Block .Product_Item_First {
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.Product_Block .Product_Item_Second {
    margin-top: 0.5vw;
}

.Product_Block .Product_Display_Block {
    width: 100%;
    height: 5vw;

    display: block;
}

.Product_Block .Product_Block_Column {
    display: flex;
    flex-direction: column;
}

.Product_Block .Product_Item {
    width: 100%;
    height: 5vw;

    position: relative;

    background-color: #D7D4AB78;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Product_Block .Product_Item a {
    font-size: 1.2vw;
    color: #43d29d;
    text-shadow: 1px 1px 1px #000000;

    position: absolute;
    top: 0.5vw;
    right: 1.5vw;

    transition: all 0.2s;

    cursor: pointer;
}

.Product_Block .Product_Item a:hover { transform: scale(1.1); }
.Product_Block .Product_Item a:active { transform: scale(1); }

.Product_Block .Product_Item h1 {
    font-size: 1.2vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
}

.Product_Block .Product_Item img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;

    margin-left: 1vw;
}

.Product_Block .Product_Item input {
    width: 4vw;

    background-color: #00000000;

    font-size: 1.5vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    border-radius: 0.4vw;

    border-style: none;

    border-bottom-style: solid;
    border-bottom-width: 0.2vw;
    border-bottom-color: #43d29d;

    text-align: center;
}

.Product_Block .Product_Item h1:last-child { margin-right: 3vw; }

/* ============================================ */

/* ============================================ */
.Profile_Block {
    width: 45vw;
    height: 30vw;

    display: flex;
    flex-direction: column;
}

.Profile_Block .First_Path_Profile_Block {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 70%;
}

.Profile_Block .First_Path_Profile_Block .First_Profile_Block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;
}

.Profile_Block ul {
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
}

.Profile_Block ul li {
    display: flex;
    flex-direction: row;
}

.Profile_Block .First_Path_Profile_Block .Second_Profile_Block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 100%;
}

.Profile_Block .Second_Path_Profile_Block {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 30%;
}

.First_Path_Profile_Block h1, .First_Path_Profile_Block a {
    font-size: 1.5vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    margin-right: 0.2vw;
    margin-left: 0.2vw;
}

.First_Path_Profile_Block a { cursor: pointer; }
.First_Path_Profile_Block a:hover { text-decoration: underline; }
.First_Path_Profile_Block a:active { text-decoration: none; }

.Profile_Block .Vertical_Stick_Profile {
    width: 0.2vw;
    height: 16vw;

    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;
}

.Profile_Block .Horizontal_Stick_Profile {
    width: 16vw;
    height: 0.2vw;

    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;

    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

/* ============================================ */

/* ============================================ */

.Settings_Block {
    width: 45vw;
    height: 30vw;
}

.Settings_Block .Settings_Path_Display_Block {
    width: 100%;
    height: 100%;
}

.Settings_Path_Display_Block .Settings_Path_Block {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.Settings_Block h1 {
    font-size: 2vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
}

.Settings_Block .Settings_Stick {
    width: 20vw;
}

.Settings_Block input[type="Text"] {
    border-bottom-width: 0.2vw;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #43d29d;
    border-radius: 0.2vw;
    width: 28vw;
    height: 3vw;
    font-size: 2vw;
    color: #ccf5d5;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);
    background-color: #00000000;

    transition: all 0.2s;

    outline: none;

    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.Settings_Block input[type="Text"]:hover {
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
    border-top-width: 0.2vw;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

.Settings_Block input[type="Text"]:focus {
    border-width: 0.25vw;
    border-style: solid;
    border-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

/* ============================================ */

/* ============================================ */

.Processing_Block {
    display: flex;
    flex-direction: column;

    width: 45vw;
    height: 30vw;
}

.Processing_Block .Processing_Up_Block {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 70%;
}

.Processing_Up_Block .Processing_Left_Block {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    height: 100%;

    overflow-y: scroll;
    scrollbar-width: none;
}

.Processing_Left_Block .Processing_Product_Display_Block { display: block; width: 100%;}

.Processing_Product_Display_Block .Processing_Product_Block {
    width: 100%;
    height: 4vw;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1vw;
}

.Processing_Product_Block img {
    width: 2.5vw;
    height: 2.5vw;

    border-radius: 50%;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);

    margin-left: 0.5vw;
}

.Processing_Product_Block .Processing_Product_Path_Block {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Processing_Product_Path_Block h1 {
    font-size: 1.2vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
}

.Processing_Product_Path_Block .Processing_Product_Stick {
    width: 80%;
    height: 0.2vw;

    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;
}

.Processing_Product_Path_Block .Processing_Product_Inform {
    width: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Processing_Up_Block .Vertical_Stick_Processing {
    width: 0.2vw;
    height: 22vw;

    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;
}

.Processing_Up_Block .Processing_Right_Block {
    width: 60%;
    height: 100%;
}

.Processing_Right_Block .Processing_Top {
    margin-top: 1vw;
}

.Processing_Right_Block .Processing_Inner_Display_Block {
    width: 100%;
    height: 26vw;
}

.Processing_Inner_Display_Block .Processing_Inner_Path_Block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.Processing_Inner_Path_Block ul {
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.Processing_Inner_Path_Block ul li {
    font-size: 1vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
}

.Processing_Inner_Path_Block .Processing_Inner_Row_Block {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 10vw;

    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.Processing_Inner_Row_Block input[type="radio"] {
    margin-left: 0.5vw;
}

.Processing_Inner_Row_Block img {
    width: 4vw;
    height: 4vw;

    margin-left: 0.5vw;
}

.Processing_Inner_Row_Block h1 {
    font-size: 1vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;

    margin-bottom: 0.5vw;
}

.Processing_Inner_Row_Block p {
    font-size: 0.8vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;

    margin-top: 0.5vw;
}

.Processing_Inner_Row_Block .Processing_Inner_Column_Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 0.5vw;
    margin-right: 0.5vw;

    width: 100%;
    height: 100%;
}

.Processing_Inner_Stick {
    width: 16vw;
    height: 0.2vw;

    background-color: #43D29D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);
    border-radius: 5vw;
}

.Processing_Block input[type="Text"] {
    border-bottom-width: 0.2vw;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: solid;
    border-color: #43d29d;
    border-radius: 0.2vw;
    width: 24vw;
    height: 2.5vw;
    font-size: 1.5vw;
    color: #ccf5d5;
    text-shadow: 1px 1px 1px #000000;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);
    background-color: #00000000;

    transition: all 0.2s;

    outline: none;

    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.Processing_Block input[type="Text"]:hover {
    border-left-width: 0.2vw;
    border-right-width: 0.2vw;
    border-top-width: 0.2vw;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

.Processing_Block input[type="Text"]:focus {
    border-width: 0.25vw;
    border-style: solid;
    border-color: #43d29d;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.64);
}

.Processing_Block .Processing_Down_Block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
}

.Processing_Block .Processing_Down_Block a {
    margin-right: 1vw;
    margin-left: 1vw;
}